$font-path: '../assets/fonts/';

@font-face {
  font-family: "Source Sans Pro";
  src: url($font_path +"Source Sans Pro/SourceSansPro-Regular.otf");
  font-weight: 400;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url($font_path +"Source Sans Pro/SourceSansPro-Bold.otf");
  font-weight: 800;
}

@font-face {
  font-family: "Source Sans Pro";
  src: url($font_path +"Source Sans Pro/SourceSansPro-It.otf");
  font-style: italic;
}

@font-face {
  font-family: "TeX Gyre Adventor";
  src: url($font_path +"TeX Gyre Adventor/texgyreadventor-bold.otf");
  font-weight: 800;
}

body {
  font-family: 'Source Sans Pro', 'Arial', sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;

  @include breakpoint($mobile) {
    // font-size: 30px;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'TeX Gyre Adventor', sans-serif;
  line-height: 1.3em;
}

$title-color: $color-dark-gray;
$title-color-light: $color-white;
$text-color: $color-black;
$text-color-light: $color-white;
