// colors
$color-white: #fff;
$color-lighter-grey: #ebeff3;
$color-lightest-grey: #f4f4f4;
$color-light-grey: #c9d3df;
$color-grey: #adb9c9;
$color-dark-grey: #8393a7;
$color-darker-grey: #53657d;
$color-black: #000;

$color-blue: #0081d5;
$color-light-blue: #1e90da;
$color-dark-blue: #006cb0;
$color-grey-blue: #adb9c9;

$color-footer-light-blue: #2854B5;
$color-footer-medium-blue: #264EA6;
$color-footer-dark-blue: #274492;

// font-size
$fs-small: .875rem;
$fs-normal: 1rem;
$fs-medium: 1.125rem;
$fs-large: 1.25rem;

// font-weight
$fw-regular:  400;
$fw-bold:     700;

// media queries
$desktop: 1000px;
$tablet: 600px;
$mobile: 480px;

// links
$link-color: $color-light-blue;

// borders
$border-color: $color-light-grey;
$border-radius: 3px;

// navigation
$nav-height: 50px;
$footer-height: 200px;
$height-empty: 30em;